<!DOCTYPE html>
<html lang="en">
<head>
		<meta charset="UTF-8">
		<title>GH Calligraphy</title>
		<link rel="stylesheet" href="main.css">
</head>
<body>

	<div class="container">
		<div class="secondheader">
			<h2>Calligraphy</h2>
		</div>
		<div class="paragraph">
				<%= image_tag 'calligraphy-menu.jpg' %>
			<p>Lorizzle ipsizzle boofron sheezy amizzle, sure adipiscing pimpin'. Nullizzle yippiyo get down get down, aliquet volutpizzle, dope quis, gravida vel, fo shizzle. Pellentesque mammasay mammasa mamma oo sa fo shizzle mah nizzle fo rizzle, mah home g-dizzle. Fo shizzle erizzle. Dang at dolor dapibizzle turpizzle tempizzle shiz. Maurizzle pellentesque nibh izzle turpizzle. My shizz in boofron. Pellentesque sizzle sure crazy. In hac habitasse platea dope. Bow wow wow dapibus. Curabitizzle tellus you son of a bizzle, pretizzle pot, ma nizzle ac, dawg vitae, nunc. Fo shizzle my nizzle suscipizzle. Integer sempizzle velit sizzle .</p>
		</div>
		<div class="secondheader">
			<h2>About Grace Helmer</h2>
		</div>
		<div class="paragraph">
			<%= image_tag 'profile.png' %>
			<p>Lorizzle ipsizzle boofron sheezy amizzle, sure adipiscing pimpin'. Nullizzle yippiyo get down get down, aliquet volutpizzle, dope quis, gravida vel, fo shizzle. Pellentesque mammasay mammasa mamma oo sa fo shizzle mah nizzle fo rizzle, mah home g-dizzle. Fo shizzle erizzle. Dang at dolor dapibizzle turpizzle tempizzle shiz. Maurizzle pellentesque nibh izzle turpizzle. My shizz in boofron. Pellentesque sizzle sure crazy. In hac habitasse platea dope. Bow wow wow dapibus. Curabitizzle tellus you son of a bizzle, pretizzle pot, ma nizzle ac, dawg vitae, nunc. Fo shizzle my nizzle suscipizzle. Integer sempizzle velit sizzle .</p>
		</div>
</body>
</html>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
      	<%= render 'signups/form' %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>